In [1]:
import pandas as pd
import os
import numpy as np

In [2]:
student_csv = os.path.join("PyCitySchools/Resources", "students_complete.csv")
school_csv = os.path.join("PyCitySchools/Resources", "schools_complete.csv")

In [3]:
student_df = pd.read_csv(student_csv)

In [4]:
# student_df

In [5]:
school_df = pd.read_csv(school_csv)
# school_df

In [6]:
df = pd.merge(student_df, school_df, on = "school_name")

### District Summary

#####   * Total Schools
#####   * Total Students
#####   * Total Budget
#####   * Average Math Score
#####   * Average Reading Score
#####   * % Passing Math (70 or greater)
#####  * % Passing Reading (70 or greater)
#####   * Overall Passing Rate (Average of the above two)

In [7]:
d_df = pd.DataFrame({
    "Total Schools":[len(df['school_name'].unique())],
    "Total Students": [df['student_name'].count()],
    "Total Budget": [df['budget'].unique().sum()],
    "Average Math Score": [df['math_score'].mean().round(2)],
    'Average Reading Score': [df['reading_score'].mean().round(2)],
    '% Passing Math':[((df[df['math_score']>=70]['math_score'].count()/df['student_name'].count())*100).round(2)],
    "% Passing Reading":[((df[df['reading_score']>=70]['reading_score'].count()/df['student_name'].count())*100).round(2)],
    "% Overall Passing Rate":[((((df[df['math_score']>=70]['math_score'].count()/df['student_name'].count())*100) + 
                              ((df[df['reading_score']>=70]['reading_score'].count()/df['student_name'].count())*100))/2).round(2)]   
})

In [8]:
d_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,24649428,78.99,81.88,74.98,85.81,80.39

### School Summary

##### * Create an overview table that summarizes key metrics about each school, including:
#####  * School Name
#####  * School Type
#####  * Total Students
#####  * Total School Budget
#####  * Per Student Budget
#####  * Average Math Score
#####  * Average Reading Score
#####  * % Passing Math
#####  * % Passing Reading
#####  * Overall Passing Rate (Average of the above two)


### Top Performing Schools (By Passing Rate)

In [9]:
df.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [10]:
df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [26]:
for school in df['school_name'].unique():  
    cur_school = df.loc[df['school_name'] == school]
    num_passing_math = len(cur_school.loc[cur_school['math_score']>=70])
    per_passing_math = (num_passing_math/len(cur_school['math_score']))*100
    rounded_per_p_math = round(per_passing_math, 2)
    math_result = f'{school}:{rounded_per_p_math}'
#     print(math_result)
#     print(rounded_per_p_math)

In [23]:
df_math_school = pd.DataFrame({
    "school_name" : ["Huang High School",
"Figueroa High School",
"Shelton High School",
"Hernandez High School",
"Griffin High School",
"Wilson High School",
"Cabrera High School",
"Bailey High School",
"Holden High School",
"Pena High School",
"Wright High School",
"Rodriguez High School",
"Johnson High School",
"Ford High School",
"Thomas High School"],
    "% Passing Math": [65.68,
65.99,
93.87,
66.75,
93.39,
93.87,
94.13,
66.68,
92.51,
94.59,
93.33,
66.37,
66.06,
68.31,
93.27]
})

In [25]:
df_math_school.groupby('school_name').first()

                       % Passing Math
school_name
Bailey High School              66.68
Cabrera High School             94.13
Figueroa High School            65.99
Ford High School                68.31
Griffin High School             93.39
Hernandez High School           66.75
Holden High School              92.51
Huang High School               65.68
Johnson High School             66.06
Pena High School                94.59
Rodriguez High School           66.37
Shelton High School             93.87
Thomas High School              93.27
Wilson High School              93.87
Wright High School              93.33

In [12]:
for school in df['school_name'].unique():  
    cur_school = df.loc[df['school_name'] == school]
    num_passing_reading = len(cur_school.loc[cur_school['reading_score']>=70])
    per_passing_reading = (num_passing_math/len(cur_school['reading_score']))*100
    rounded_per_p_reading = round(per_passing_math, 2)
    reading_result = f'{school}:{rounded_per_p_reading}'
    print(reading_result)

Huang High School:93.27
Figueroa High School:93.27
Shelton High School:93.27
Hernandez High School:93.27
Griffin High School:93.27
Wilson High School:93.27
Cabrera High School:93.27
Bailey High School:93.27
Holden High School:93.27
Pena High School:93.27
Wright High School:93.27
Rodriguez High School:93.27
Johnson High School:93.27
Ford High School:93.27
Thomas High School:93.27

In [13]:
df1 = df.groupby('school_name').agg({
    "type":["first"],
    "Student ID": ["count"],
    "budget": ["first"],
    "math_score": ["mean"],
    "reading_score": ["mean"]   
})

In [14]:
# Calculation of "Per Student Budget"

In [15]:
df1['Per Student Budget'] = df1["budget","first"] / df1["Student ID", "count"]

In [16]:
df1

,type,Student ID,budget,math_score,reading_score,Per Student Budget
,first,count,first,mean,mean,
school_name,,,,,,
Bailey High School,District,4976,3124928,77.048432,81.033963,628.0
Cabrera High School,Charter,1858,1081356,83.061895,83.975780,582.0
Figueroa High School,District,2949,1884411,76.711767,81.158020,639.0
Ford High School,District,2739,1763916,77.102592,80.746258,644.0
Griffin High School,Charter,1468,917500,83.351499,83.816757,625.0
Hernandez High School,District,4635,3022020,77.289752,80.934412,652.0
Holden High School,Charter,427,248087,83.803279,83.814988,581.0
Huang High School,District,2917,1910635,76.629414,81.182722,655.0
Johnson High School,District,4761,3094650,77.072464,80.966394,650.0
Pena High School,Charter,962,585858,83.839917,84.044699,609.0
Rodriguez High School,District,3999,2547363,76.842711,80.744686,637.0
Shelton High School,Charter,1761,1056600,83.359455,83.725724,600.0
Thomas High School,Charter,1635,1043130,83.418349,83.848930,638.0
Wilson High School,Charter,2283,1319574,83.274201,83.989488,578.0
Wright High School,Charter,1800,1049400,83.682222,83.955000,583.0

# * % Passing Math
# * % Passing Reading
# * Overall Passing Rate (Average of the above two)

In [17]:
df1.columns

MultiIndex([(              'type', 'first'),
            (        'Student ID', 'count'),
            (            'budget', 'first'),
            (        'math_score',  'mean'),
            (     'reading_score',  'mean'),
            ('Per Student Budget',      '')],
           )

In [18]:
df1

,type,Student ID,budget,math_score,reading_score,Per Student Budget
,first,count,first,mean,mean,
school_name,,,,,,
Bailey High School,District,4976,3124928,77.048432,81.033963,628.0
Cabrera High School,Charter,1858,1081356,83.061895,83.975780,582.0
Figueroa High School,District,2949,1884411,76.711767,81.158020,639.0
Ford High School,District,2739,1763916,77.102592,80.746258,644.0
Griffin High School,Charter,1468,917500,83.351499,83.816757,625.0
Hernandez High School,District,4635,3022020,77.289752,80.934412,652.0
Holden High School,Charter,427,248087,83.803279,83.814988,581.0
Huang High School,District,2917,1910635,76.629414,81.182722,655.0
Johnson High School,District,4761,3094650,77.072464,80.966394,650.0
Pena High School,Charter,962,585858,83.839917,84.044699,609.0
Rodriguez High School,District,3999,2547363,76.842711,80.744686,637.0
Shelton High School,Charter,1761,1056600,83.359455,83.725724,600.0
Thomas High School,Charter,1635,1043130,83.418349,83.848930,638.0
Wilson High School,Charter,2283,1319574,83.274201,83.989488,578.0
Wright High School,Charter,1800,1049400,83.682222,83.955000,583.0

In [ ]:
# merging df1 dataframe to % math passing dataframe below

In [28]:
df2 =pd.merge(df1,df_math_school.groupby('school_name').first(), left_index=True, right_index=True)

In [29]:
 df2

,"(type, first)","(Student ID, count)","(budget, first)","(math_score, mean)","(reading_score, mean)","(Per Student Budget, )",% Passing Math
school_name,,,,,,,
Bailey High School,District,4976,3124928,77.048432,81.033963,628.0,66.68
Cabrera High School,Charter,1858,1081356,83.061895,83.975780,582.0,94.13
Figueroa High School,District,2949,1884411,76.711767,81.158020,639.0,65.99
Ford High School,District,2739,1763916,77.102592,80.746258,644.0,68.31
Griffin High School,Charter,1468,917500,83.351499,83.816757,625.0,93.39
Hernandez High School,District,4635,3022020,77.289752,80.934412,652.0,66.75
Holden High School,Charter,427,248087,83.803279,83.814988,581.0,92.51
Huang High School,District,2917,1910635,76.629414,81.182722,655.0,65.68
Johnson High School,District,4761,3094650,77.072464,80.966394,650.0,66.06
Pena High School,Charter,962,585858,83.839917,84.044699,609.0,94.59
Rodriguez High School,District,3999,2547363,76.842711,80.744686,637.0,66.37
Shelton High School,Charter,1761,1056600,83.359455,83.725724,600.0,93.87
Thomas High School,Charter,1635,1043130,83.418349,83.848930,638.0,93.27
Wilson High School,Charter,2283,1319574,83.274201,83.989488,578.0,93.87
Wright High School,Charter,1800,1049400,83.682222,83.955000,583.0,93.33