In [1]:
import pandas as pd
import os
import numpy as np

In [2]:
student_csv = os.path.join("PyCitySchools/Resources", "students_complete.csv")
school_csv = os.path.join("PyCitySchools/Resources", "schools_complete.csv")

In [3]:
student_df = pd.read_csv(student_csv)

In [4]:
# student_df

In [5]:
school_df = pd.read_csv(school_csv)
# school_df

In [6]:
df = pd.merge(student_df, school_df, on = "school_name")

### District Summary

#####   * Total Schools
#####   * Total Students
#####   * Total Budget
#####   * Average Math Score
#####   * Average Reading Score
#####   * % Passing Math (70 or greater)
#####  * % Passing Reading (70 or greater)
#####   * Overall Passing Rate (Average of the above two)

In [7]:
d_df = pd.DataFrame({
    "Total Schools":[len(df['school_name'].unique())],
    "Total Students": [df['student_name'].count()],
    "Total Budget": [df['budget'].unique().sum()],
    "Average Math Score": [df['math_score'].mean().round(2)],
    'Average Reading Score': [df['reading_score'].mean().round(2)],
    '% Passing Math':[((df[df['math_score']>=70]['math_score'].count()/df['student_name'].count())*100).round(2)],
    "% Passing Reading":[((df[df['reading_score']>=70]['reading_score'].count()/df['student_name'].count())*100).round(2)],
    "% Overall Passing Rate":[((((df[df['math_score']>=70]['math_score'].count()/df['student_name'].count())*100) + 
                              ((df[df['reading_score']>=70]['reading_score'].count()/df['student_name'].count())*100))/2).round(2)]   
})

In [8]:
d_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,24649428,78.99,81.88,74.98,85.81,80.39

### School Summary

##### * Create an overview table that summarizes key metrics about each school, including:
#####  * School Name
#####  * School Type
#####  * Total Students
#####  * Total School Budget
#####  * Per Student Budget
#####  * Average Math Score
#####  * Average Reading Score
#####  * % Passing Math
#####  * % Passing Reading
#####  * Overall Passing Rate (Average of the above two)


### Top Performing Schools (By Passing Rate)

In [9]:
df.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [10]:
df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [26]:
for school in df['school_name'].unique():  
    cur_school = df.loc[df['school_name'] == school]
    num_passing_math = len(cur_school.loc[cur_school['math_score']>=70])
    per_passing_math = (num_passing_math/len(cur_school['math_score']))*100
    rounded_per_p_math = round(per_passing_math, 2)
    math_result = f'{school}:{rounded_per_p_math}'
#     print(math_result)
#     print(rounded_per_p_math)

In [23]:
df_math_school = pd.DataFrame({
    "school_name" : ["Huang High School",
"Figueroa High School",
"Shelton High School",
"Hernandez High School",
"Griffin High School",
"Wilson High School",
"Cabrera High School",
"Bailey High School",
"Holden High School",
"Pena High School",
"Wright High School",
"Rodriguez High School",
"Johnson High School",
"Ford High School",
"Thomas High School"],
    "% Passing Math": [65.68,
65.99,
93.87,
66.75,
93.39,
93.87,
94.13,
66.68,
92.51,
94.59,
93.33,
66.37,
66.06,
68.31,
93.27]
})

In [106]:
for school in df['school_name'].unique():  
    cur_school = df.loc[df['school_name'] == school]
    num_passing_reading = len(cur_school.loc[cur_school['reading_score']>=70])
    per_passing_reading = (num_passing_reading/len(cur_school['reading_score']))*100
    rounded_per_p_reading = round(per_passing_reading, 2)
    reading_result = f'{school}:{rounded_per_p_reading}'
#     print(reading_result)
#     print(rounded_per_p_reading)

In [37]:
df_reading_school = pd.DataFrame({
    "school_name" : ["Huang High School",
"Figueroa High School",
"Shelton High School",
"Hernandez High School",
"Griffin High School",
"Wilson High School",
"Cabrera High School",
"Bailey High School",
"Holden High School",
"Pena High School",
"Wright High School",
"Rodriguez High School",
"Johnson High School",
"Ford High School",
"Thomas High School"],
    "% Passing Reading": [81.32,
80.74,
95.85,
80.86,
97.14,
96.54,
97.04,
81.93,
96.25,
95.95,
96.61,
80.22,
81.22,
79.3,
97.31]
})

In [48]:
# df_reading_school.groupby('school_name').first()

In [49]:
df1 = df.groupby('school_name').agg({
    "type":["first"],
    "Student ID": ["count"],
    "budget": ["first"],
    "math_score": ["mean"],
    "reading_score": ["mean"]   
})

In [50]:
# Calculation of "Per Student Budget"

In [51]:
df1['Per Student Budget'] = df1["budget","first"] / df1["Student ID", "count"]

In [ ]:
# merging df1 dataframe to % math passing dataframe below

In [28]:
df2 =pd.merge(df1,df_math_school.groupby('school_name').first(), left_index=True, right_index=True)

In [ ]:
# merging df2 with df_reading_school

In [140]:
df2 = pd.merge(df2, df_reading_school.groupby('school_name').first(),left_index=True, right_index=True )

# COLUMNS need to be changed.

In [149]:
# df2['Overall Passing Rate']= (df2['% Passing Math'] + df2['% Passing Reading'])/2
# df2.rename(columns ={'type', 'first':'School Type', 'Student ID', 'count':"Total Students"})

# Top Performing Schools (By Passing Rate)

In [46]:
df2.sort_values('Overall Passing Rate', ascending =False).head()

,"(type, first)","(Student ID, count)","(budget, first)","(math_score, mean)","(reading_score, mean)","(Per Student Budget, )",% Passing Math,% Passing Reading,Overall Passing Rate
school_name,,,,,,,,,
Cabrera High School,Charter,1858,1081356,83.061895,83.975780,582.0,94.13,97.04,95.585
Thomas High School,Charter,1635,1043130,83.418349,83.848930,638.0,93.27,97.31,95.290
Pena High School,Charter,962,585858,83.839917,84.044699,609.0,94.59,95.95,95.270
Griffin High School,Charter,1468,917500,83.351499,83.816757,625.0,93.39,97.14,95.265
Wilson High School,Charter,2283,1319574,83.274201,83.989488,578.0,93.87,96.54,95.205

# Bottom Performing Schools (By Passing Rate)

In [54]:
df2.sort_values('Overall Passing Rate', ascending =True).head()

,"(type, first)","(Student ID, count)","(budget, first)","(math_score, mean)","(reading_score, mean)","(Per Student Budget, )",% Passing Math,% Passing Reading,Overall Passing Rate
school_name,,,,,,,,,
Rodriguez High School,District,3999,2547363,76.842711,80.744686,637.0,66.37,80.22,73.295
Figueroa High School,District,2949,1884411,76.711767,81.158020,639.0,65.99,80.74,73.365
Huang High School,District,2917,1910635,76.629414,81.182722,655.0,65.68,81.32,73.500
Johnson High School,District,4761,3094650,77.072464,80.966394,650.0,66.06,81.22,73.640
Ford High School,District,2739,1763916,77.102592,80.746258,644.0,68.31,79.30,73.805

In [55]:
# Math Scores by Grade
# Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

# Create a pandas series for each grade. Hint: use a conditional statement.

# Group each series by school

# Combine the series into a dataframe

# Optional: give the displayed data cleaner formatting

# Math Scores by Grade

In [116]:
df.groupby(['school_name', 'grade'])[['math_score']].agg(np.mean)

                             math_score
school_name           grade
Bailey High School    10th    76.996772
                      11th    77.515588
                      12th    76.492218
                      9th     77.083676
Cabrera High School   10th    83.154506
                      11th    82.765560
                      12th    83.277487
                      9th     83.094697
Figueroa High School  10th    76.539974
                      11th    76.884344
                      12th    77.151369
                      9th     76.403037
Ford High School      10th    77.672316
                      11th    76.918058
                      12th    76.179963
                      9th     77.361345
Griffin High School   10th    84.229064
                      11th    83.842105
                      12th    83.356164
                      9th     82.044010
Hernandez High School 10th    77.337408
                      11th    77.136029
                      12th    77.186567
                      9th     77.438495
Holden High School    10th    83.429825
                      11th    85.000000
                      12th    82.855422
                      9th     83.787402
Huang High School     10th    75.908735
                      11th    76.446602
                      12th    77.225641
                      9th     77.027251
Johnson High School   10th    76.691117
                      11th    77.491653
                      12th    76.863248
                      9th     77.187857
Pena High School      10th    83.372000
                      11th    84.328125
                      12th    84.121547
                      9th     83.625455
Rodriguez High School 10th    76.612500
                      11th    76.395626
                      12th    77.690748
                      9th     76.859966
Shelton High School   10th    82.917411
                      11th    83.383495
                      12th    83.778976
                      9th     83.420755
Thomas High School    10th    83.087886
                      11th    83.498795
                      12th    83.497041
                      9th     83.590022
Wilson High School    10th    83.724422
                      11th    83.195326
                      12th    83.035794
                      9th     83.085578
Wright High School    10th    84.010288
                      11th    83.836782
                      12th    83.644986
                      9th     83.264706

# Reading Scores by Grade

In [119]:
df.groupby(['school_name', 'grade'])[['reading_score']].agg(np.mean)

                             reading_score
school_name           grade
Bailey High School    10th       80.907183
                      11th       80.945643
                      12th       80.912451
                      9th        81.303155
Cabrera High School   10th       84.253219
                      11th       83.788382
                      12th       84.287958
                      9th        83.676136
Figueroa High School  10th       81.408912
                      11th       80.640339
                      12th       81.384863
                      9th        81.198598
Ford High School      10th       81.262712
                      11th       80.403642
                      12th       80.662338
                      9th        80.632653
Griffin High School   10th       83.706897
                      11th       84.288089
                      12th       84.013699
                      9th        83.369193
Hernandez High School 10th       80.660147
                      11th       81.396140
                      12th       80.857143
                      9th        80.866860
Holden High School    10th       83.324561
                      11th       83.815534
                      12th       84.698795
                      9th        83.677165
Huang High School     10th       81.512386
                      11th       81.417476
                      12th       80.305983
                      9th        81.290284
Johnson High School   10th       80.773431
                      11th       80.616027
                      12th       81.227564
                      9th        81.260714
Pena High School      10th       83.612000
                      11th       84.335938
                      12th       84.591160
                      9th        83.807273
Rodriguez High School 10th       80.629808
                      11th       80.864811
                      12th       80.376426
                      9th        80.993127
Shelton High School   10th       83.441964
                      11th       84.373786
                      12th       82.781671
                      9th        84.122642
Thomas High School    10th       84.254157
                      11th       83.585542
                      12th       83.831361
                      9th        83.728850
Wilson High School    10th       84.021452
                      11th       83.764608
                      12th       84.317673
                      9th        83.939778
Wright High School    10th       83.812757
                      11th       84.156322
                      12th       84.073171
                      9th        83.833333

# Scores by School Spending

In [122]:
# Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
# Average Math Score
# Average Reading Score
# % Passing Math
# % Passing Reading
# Overall Passing Rate (Average of the above two)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [136]:
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [138]:
pd.cut(df2['Per Student Budget', ''], spending_bins, labels = group_names)

school_name
Bailey High School       $615-645
Cabrera High School         <$585
Figueroa High School     $615-645
Ford High School         $615-645
Griffin High School      $615-645
Hernandez High School    $645-675
Holden High School          <$585
Huang High School        $645-675
Johnson High School      $645-675
Pena High School         $585-615
Rodriguez High School    $615-645
Shelton High School      $585-615
Thomas High School       $615-645
Wilson High School          <$585
Wright High School          <$585
Name: (Per Student Budget, ), dtype: category
Categories (4, object): [<$585 < $585-615 < $615-645 < $645-675]

In [139]:
df2

,"(type, first)","(Student ID, count)","(budget, first)","(math_score, mean)","(reading_score, mean)","(Per Student Budget, )",% Passing Math,% Passing Reading,Overall Passing Rate
school_name,,,,,,,,,
Bailey High School,District,4976,3124928,77.048432,81.033963,628.0,66.68,81.93,74.305
Cabrera High School,Charter,1858,1081356,83.061895,83.975780,582.0,94.13,97.04,95.585
Figueroa High School,District,2949,1884411,76.711767,81.158020,639.0,65.99,80.74,73.365
Ford High School,District,2739,1763916,77.102592,80.746258,644.0,68.31,79.30,73.805
Griffin High School,Charter,1468,917500,83.351499,83.816757,625.0,93.39,97.14,95.265
Hernandez High School,District,4635,3022020,77.289752,80.934412,652.0,66.75,80.86,73.805
Holden High School,Charter,427,248087,83.803279,83.814988,581.0,92.51,96.25,94.380
Huang High School,District,2917,1910635,76.629414,81.182722,655.0,65.68,81.32,73.500
Johnson High School,District,4761,3094650,77.072464,80.966394,650.0,66.06,81.22,73.640
Pena High School,Charter,962,585858,83.839917,84.044699,609.0,94.59,95.95,95.270
Rodriguez High School,District,3999,2547363,76.842711,80.744686,637.0,66.37,80.22,73.295
Shelton High School,Charter,1761,1056600,83.359455,83.725724,600.0,93.87,95.85,94.860
Thomas High School,Charter,1635,1043130,83.418349,83.848930,638.0,93.27,97.31,95.290
Wilson High School,Charter,2283,1319574,83.274201,83.989488,578.0,93.87,96.54,95.205
Wright High School,Charter,1800,1049400,83.682222,83.955000,583.0,93.33,96.61,94.970