In [1]:
import pandas as pd
import os

In [2]:
student_csv = os.path.join("PyCitySchools/Resources", "students_complete.csv")
school_csv = os.path.join("PyCitySchools/Resources", "schools_complete.csv")

In [3]:
student_df = pd.read_csv(student_csv)

In [4]:
# student_df

In [5]:
school_df = pd.read_csv(school_csv)
# school_df

In [6]:
df = pd.merge(student_df, school_df, on = "school_name")

### District Summary

#####   * Total Schools
#####   * Total Students
#####   * Total Budget
#####   * Average Math Score
#####   * Average Reading Score
#####   * % Passing Math (70 or greater)
#####  * % Passing Reading (70 or greater)
#####   * Overall Passing Rate (Average of the above two)

In [19]:
df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [7]:
df.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [23]:
len(df['school_name'].unique()) # This is number of school

15

In [18]:
df['student_name'].count()

39170

In [25]:
df['budget'].unique().sum()

24649428

In [33]:
df['math_score'].mean().round(2)

78.99

In [34]:
df['reading_score'].mean().round(2)

81.88

In [35]:
d_df = pd.DataFrame({
    "Total Schools":[len(df['school_name'].unique())],
    "Total Students": [df['student_name'].count()],
    "Total Budget": [df['budget'].unique().sum()],
    "Average Math Score": [df['math_score'].mean().round(2)],
    'Average Reading Score': [df['reading_score'].mean().round(2)]
    
})

In [36]:
d_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score
0,15,39170,24649428,78.99,81.88