In [1]:
import pandas as pd
import os

In [2]:
student_csv = os.path.join("PyCitySchools/Resources", "students_complete.csv")
school_csv = os.path.join("PyCitySchools/Resources", "schools_complete.csv")

In [3]:
student_df = pd.read_csv(student_csv)

In [4]:
# student_df

In [5]:
school_df = pd.read_csv(school_csv)
# school_df

In [6]:
df = pd.merge(student_df, school_df, on = "school_name")

### District Summary

#####   * Total Schools
#####   * Total Students
#####   * Total Budget
#####   * Average Math Score
#####   * Average Reading Score
#####   * % Passing Math (70 or greater)
#####  * % Passing Reading (70 or greater)
#####   * Overall Passing Rate (Average of the above two)

In [61]:
d_df = pd.DataFrame({
    "Total Schools":[len(df['school_name'].unique())],
    "Total Students": [df['student_name'].count()],
    "Total Budget": [df['budget'].unique().sum()],
    "Average Math Score": [df['math_score'].mean().round(2)],
    'Average Reading Score': [df['reading_score'].mean().round(2)],
    '% Passing Math':[((df[df['math_score']>=70]['math_score'].count()/df['student_name'].count())*100).round(2)],
    "% Passing Reading":[((df[df['reading_score']>=70]['reading_score'].count()/df['student_name'].count())*100).round(2)],
    "% Overall Passing Rate":[((((df[df['math_score']>=70]['math_score'].count()/df['student_name'].count())*100) + 
                              ((df[df['reading_score']>=70]['reading_score'].count()/df['student_name'].count())*100))/2).round(2)]   
})

In [62]:
d_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,24649428,78.99,81.88,74.98,85.81,80.39